*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background: rgb(9,17,28);
    background: linear-gradient(0deg, rgba(9,17,28,1) 0%, rgba(20,53,87,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: rgb(19, 19, 19);
    box-shadow: 3px 3px 15px black;
    border: 5px solid black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 10px;
    width: 360px;    
    height: auto;
}

.input-display{
    border: 2px solid black;
    width: 100%;
    height: 150px;
    max-height: fit-content;
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#display, #display-history{
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 900;
    max-width: 267px;
    text-align: end;
    resize: none;
    border: none;
    font-size: 2rem;
    color: black;
    overflow-x: scroll, hidden;
    overflow-y: hidden; /* Removes vertical scroll */
    text-overflow: clip;
    height: 50px;
}

#display{
    padding-bottom: 55px;
}

#display-history {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.651);
    height: 50px;
}

.input-pad{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1.5rem;
    gap: .5rem;

}

.backspace-icon{
    height: 36.981px;
    filter: invert(94%) sepia(83%) saturate(3564%) hue-rotate(178deg) brightness(110%) contrast(102%);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 100px;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: .9rem .7rem;
    color: aliceblue;
    box-shadow: 1px 1px 4px black;
    text-shadow: 2px 2px 2px black;
    border: 1px solid black;
}

.span{
    grid-column-end: span 2;
}

.special-btn{
    background-color: rgb(199, 106, 0);
}
.special-btn:hover{
    background-color: rgba(199, 106, 0, 0.548);
    transition: 200ms ease;
}
.special-btn:active{
    background-color: aliceblue;
}

.regular-btn{
    background-color: rgb(34, 34, 34);
}
.regular-btn:hover{
    background-color: rgba(34, 34, 34, 0.534);
    text-shadow: 1px 1px 2px rgb(24, 24, 24);
    transition: 10ms ease;
    
}
.regular-btn:active{
    background-color: aliceblue;
}